=begin
#API from Wineshipping

#Wineshipping API is a programmatically consumable service or an Application Programming Interface (API) platform designed to enable Wineshipping LLC's client applications to natively transmit and manage their order, view inventory, track shipments etc.<br /><br />In order to access API operations request a user key and password from Wineshipping. For any questions please contact Wineshipping Helpdesk at <a href='mailto:IT-Help@wineshipping.com?Subject=API from Wineshipping'>IT-Help@wineshipping.com</a>.

OpenAPI spec version: V3

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.13

=end

require 'uri'

module WineShipping
  class AddressApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Determines whether an address is valid. Additionally, this API operation uses address classification to determine if an address is residential or commercial.
    # @param addr_vc_request
    # @param [Hash] opts the optional parameters
    # @return [AddressValidationClassificationResult]
    def validation(addr_vc_request, opts = {})
      data, status_code, headers = validation_with_http_info(addr_vc_request, opts)
      { body: data, code: status_code, headers: headers }
    end

    # Determines whether an address is valid. Additionally, this API operation uses address classification to determine if an address is residential or commercial.
    # @param addr_vc_request
    # @param [Hash] opts the optional parameters
    # @return [Array<(AddressValidationClassificationResult, Fixnum, Hash)>] AddressValidationClassificationResult data, response status code and response headers
    def validation_with_http_info(addr_vc_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AddressApi.validation_and_classification ...'
      end
      # verify the required parameter 'addr_vc_request' is set
      if @api_client.config.client_side_validation && addr_vc_request.nil?
        fail ArgumentError, "Missing the required parameter 'addr_vc_request' when calling AddressApi.validation_and_classification"
      end
      # resource path
      local_var_path = '/api/Address/Validation'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(addr_vc_request)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AddressValidationClassificationResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AddressApi#validation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
